.container{
  min-height: calc(100vh - 106px);
  max-height: calc(100vh - 106px);
  padding: 12px;
  box-sizing: border-box;
}

.userText {
  padding: 8px 12px;
  border-radius: 8px;
  background-color: rgba(0,0,0,.04);
  color: #333;
  margin-bottom: 12px
}
